---
layout: layouts/base.njk
noindex: true
---
{% set t = {
  title: title,
  date: date,
  tapeNumber: tapeNumber,
  slug: slug,
  headerImage: headerImage,
  headerAlt: headerAlt,
  tracks: tracks,
  notes: notes,
  media: media,
  wavDownload: wavDownload,
  bandcamp: bandcamp,
  soundcloud: soundcloud
} %}
{% include "partials/tape-body.njk" %}
